
63<!DOCTYPE html>
<HTML lang="en">

        <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Osisatech Polytechnic Portal</title>
	<meta name="author" content="SkoolBoard Tertiary" />
	<meta name="description" content="Osisatech Polytechnic course registration, hostel allocation, clearance and all other student activities." />
	<meta name="keywords" content="Osisatech Polytechnic course registration, hostel allocation, clearance and all other student activities." />
    <link href="https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600,700" rel="stylesheet">
    	<link href="https://osisatech.skool-board.com/design/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
	<link href="https://osisatech.skool-board.com/design/stylesheets/font-awesome.min.css" rel="stylesheet" type="text/css" media="all" />
	<link href="https://osisatech.skool-board.com/design/stylesheets/table.css" rel="stylesheet" type="text/css" media="all" />
	<link href="https://osisatech.skool-board.com/design/stylesheets/animate.min.css" rel="stylesheet" type="text/css" media="all" />
	<link href="https://osisatech.skool-board.com/design/stylesheets/osi-style.css" rel="stylesheet" type="text/css" media="all" />
	<script language="JavaScript" src="https://osisatech.skool-board.com/scripts/jquery.min.js" type="text/javascript"></script>
	<script language="JavaScript" src="https://osisatech.skool-board.com/scripts/jquery-ui.js" type="text/javascript"></script>
	<script language="JavaScript" src="https://osisatech.skool-board.com/scripts/bootstrap.min.js" type="text/javascript"></script>
	<script language="JavaScript" src="https://osisatech.skool-board.com/scripts/bootstrap.bundle.min.js" type="text/javascript"></script>
	<script language="JavaScript" src="https://osisatech.skool-board.com/scripts/easing/easing.min.js" type="text/javascript"></script>
	<script language="JavaScript" src="https://osisatech.skool-board.com/scripts/wow/wow.min.js" type="text/javascript"></script>
	<script language="JavaScript" src="https://osisatech.skool-board.com/scripts/waypoints/waypoints.min.js" type="text/javascript"></script>
	<script language="JavaScript" src="https://osisatech.skool-board.com/scripts/counterup/counterup.min.js" type="text/javascript"></script>
	<script language="JavaScript" src="https://osisatech.skool-board.com/scripts/superfish/hoverIntent.js" type="text/javascript"></script>
	<script language="JavaScript" src="https://osisatech.skool-board.com/scripts/superfish/superfish.min.js" type="text/javascript"></script>
	<script language="JavaScript" src="https://osisatech.skool-board.com/scripts/menumaker.js" type="text/javascript"></script>
	<script language="JavaScript" src="https://osisatech.skool-board.com/scripts/jquery.sticky.js" type="text/javascript"></script>
	<script language="JavaScript" src="https://osisatech.skool-board.com/scripts/sticky-header.js" type="text/javascript"></script>
	<script language="JavaScript" src="https://osisatech.skool-board.com/scripts/owl.carousel.min.js" type="text/javascript"></script>
	<script language="JavaScript" src="https://osisatech.skool-board.com/scripts/testimonial-carousel.js" type="text/javascript"></script>
	<script language="JavaScript" src="https://osisatech.skool-board.com/scripts/osi-main.js" type="text/javascript"></script>

                </head>
<body >
                    

           <header id="header"  class="header-fixed"  >
                <div class="container">
                    <div id="logo" class="pull-left">
                        <a href="#hero"><img src="https://osisatech.skool-board.com/media/osisalogo.png" alt="" title="" /></a>
                    </div>
                    
                        
                </div>
            </header><!-- #header -->
            <main id="main">
            <section id="about">
                <div class="container">
                    <div class="row about-container">

                        <div class="col-lg-6 content order-lg-1 order-2">
                            
                            <h2 class="title">Osisatech Polytechnic Portal</h2>
                        <p>
                        Welcome to osisatech student portal. The portal is now opened for student to complete their enrolment. Students that are not enrolled will not be able to get clearance, book hostel accommodation or get their results. You 
may <a href="application.php?applicant=1"> enrol now </a> or fill the form on the right to login.
                            <div class="order-1 wow fadeInRight" style="text-align: center; ">
                            <a href="application.php?applicant=1" class="btn-primary"> Apply Now </a></div>
                        </p>

                        <div class="icon-box wow fadeInUp">
                        <div class="icon"><i class="fa fa-graduation-cap"></i></div>
                        <h4 class="title"><a href="">Result Checking</a></h4>
                        <p class="description">Check your results online including the your GPA and CGPA. GPA and CGPA are to be automatically calculated for accuracy.</p>
                        </div>
                    
                        <div class="icon-box wow fadeInUp" data-wow-delay="0.2s">
                        <div class="icon"><i class="fa fa-th-list"></i></div>
                        <h4 class="title"><a href="">Course Registration</a></h4>
                        <p class="description">Secured and intuitive interface for our students to register for different courses easily and accordingly. </p>
                        </div>

                        <div class="icon-box wow fadeInUp" data-wow-delay="0.4s">
                        <div class="icon"><i class="fa fa-home"></i></div>
                        <h4 class="title"><a href="">Hostel Booking</a></h4>
                        <p class="description">Book for your hostel room from the comfort of your home on a first come first serve basis before you resume.</p>
                        </div>

                        </div>
                
                        <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight">
                        <br /><br /><br />
                        <div class="alert alert-danger">
		                      <button class="close" data-dismiss="alert" type="button">×</button>Login now to view this page. 
		                    </div>
                            <form action="https://osisatech.skool-board.com/index.php" method="POST" >
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label" for="matriculation_no">Matriculation Number<sup style="color:red">*</sup></label>
                                        <input id="matriculation_no" name="userName" value="" type="text" class="form-control" placeholder="Enter Matric/Application No">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <label class="control-label" for="pin">Access Code<sup style="color:red">*</sup></label>
                                        <input id="pin" value="" name="userPass" type="text" class="form-control" placeholder="Your access code Or Surname(new enrolees only)">
                                    </div>
                                    
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12">
                                    <input type="hidden" name="action" value="login">
                                    <button class="btn btn-primary btn-block">Login</button>
                                    
                                </div>
                            </form>

                        </div>
                  </div>
               </div>
            </section><!-- #about -->


</main>
            <footer id="footer">
                <div class="footer-top">
                    <div class="container">
                    
                    </div>
                    </div>
                    
                    <div class="container">
                        <div class="copyright">
                        &copy; Copyright <strong>Osisatech Polytechnic</strong>. All Rights Reserved.
                        <br /> Powered by SkoolBoard Tx
                    </div>
                </div>
            </footer><!-- #footer -->

            <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


</body></html>